
body {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  user-select: none;
  background-color: #202020;
  color: grey;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;  
}

canvas {
  width: 90vw;
  max-width: 600px;
  display: inline;
}

div {
  width: 100%;
  text-align: center;
}

#app-wrapper {
  /*display: none;*/
}